@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@500&display=swap');

header{
  background-color: #f8e89f;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #e2ce75;
  color: #000;
}

.e {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 1px 2px 3px black;
}

.logo {
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
}

.custom_row{
  max-width: 1100px;
  margin: 0 auto;
}

.contenedorContacto {
  display: flex;
  justify-content: center;
}

/* Estilos del scroll */

/*? scroll */

html::-webkit-scrollbar {
  width: 0.5rem; /*? tamaño del scroll en vertical */
  height: 1rem; /*? tamaño del scroll en horizontal */
}

html::-webkit-scrollbar-thumb {
  background: #bdb075;
  border-radius: 4px;
}


html::-webkit-scrollbar-thumb:hover { /*? sombredo cuando se pase el cursor por encima */
  background: #e2ce75;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


html::-webkit-scrollbar-thumb:active { /*? cambio de color cuando esta activo */
  background-color: #333;
}

html::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
}