{% extends 'Portal/base.html' %}  
{% block titulo %}Sobre nosotros{% endblock titulo %}
{% block contenido %}

<section
  {% load static %}
  class="bg-image" 
  style="background-image: url({% static 'img/background_page.jpg' %});">

  <section class="seccion1-articulo1 text-center py-3">
    <article id="seccion2-articulo2">
      <h1 class='py-3'>¿Quíenes somos?</h1>
      <div class='m-5'>
        <p>Soy Maximiliano Moretti, fundador y dueño de FERRETERIA MAXI. Mas de 10 años en el mercado satifaciendo a nuestros clientes a encontrar las herramientas y materiales para sus proyectos.</p>
            
        <p>Empezamos como una pequeña ferreteria de barrio en zona sur en los 90 de a poco fuimos creciendo hasta tener hoy en dia mas de 5 sucursales en Buenos Aires.</p>
          
        <p>En 2012, además de nuestra tienda física Ferretería Maxi, abrimos nuestra tienda online Ferreteria Maxi en la cual distribuimos nuestros artículos a toda Argentina.</p>
          
        <p>Mientras estudiaba la Diplomatura de Ciencias Empresariales en la Universidad, trabajaba en la ferretería y eso hizo que me pasión por este mundo aumentase de tal manera que, finalizando la carrera, me incorporé al equipo hasta el día de hoy.</p>
      </div>
    </article>
  </section>
  
  <section>
    <div class="container my-5">
      <div class="row justify-content-center">
        
        <div class="col-md-6">
          <img src="{% static 'img/instalaciones.jpg' %}" class="img-fluid" alt="...">
        </div>
    
        <div class="col-md-6">
          <h3 class='py-3'>Nuestras instalaciones</h3>
          <p>Contamos con almacenes donde albergamos todos nuestros productos para comprar por mayor.</p>  
          <p>{% lorem 20 w random %}</p>
        </div>
    
      </div>
    </div>
  </section>
  
  <section>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h3 class='py-3'>Nuestros servicios</h3>
          <p>{% lorem 25 w random %}</p>
          <p>{% lorem 25 w random %}</p>
        </div>
        
        <div class="col-md-6">
          <img src="{% static 'img/transporte.jpg' %}" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
  </section>
  
    
    <section>
      <h1 class='py-3 text-center'>¿Dónde estamos?</h1>
      
      <!--Container sucursal central-->
      <div class="container py-5">
        <div class="row gx-10 align-items-start">
      
          <div class="col-lg-4 col-md-12">
            <img src="{% static 'img/sede_central.jpg' %}" class="img-fluid" alt="...">
          </div>
          
          <div class="col-lg-4 col-md-6 text-center">
              <h3 class='mb-5'>SEDE CENTRAL</h3>
              
              <p><span style="line-height: 20.8px;">Av. Ferrocarril Provincial N°4200 San Francisco Solano, Quilmes</span></p>
            
              <p>Tel: 4212-2733 / 4115-8422</p>
              
              <p>WhatsApp: 11-4344-3600</p>
            
              <p>Lunes a Viernes: 8-12:30 y 15-18 HS</p>
            
              <p>Sabados: 8-13 HS</p>
          </div>
      
          <div class="col-lg-4 col-md-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.989576830959!2d-58.3163768!3d-34.7810377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32c6646f3c115%3A0xe78c456a20191eae!2sAv.%20Ferrocarril%20Provincial%204200%2C%20B1881%20San%20Francisco%20Solano%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1687389104932!5m2!1ses-419!2sar"
              width="350"
              height="300"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
      </div>

      <!--Container sucursal Quilmes-->
      <div class="container py-5">
        <div class="row gx-10 align-items-start">
      
          <div class="col-lg-4 col-md-12">
            <img src="{% static 'img/sucursal_quilmes.jpg' %}" class="img-fluid" alt="sucursal quilmes">
          </div>
          
          <div class="col-lg-4 col-md-6 text-center">
              <h3 class='mb-5'>SUCURSAL QUILMES OESTE</h3>
              
              <p><span style="line-height: 20.8px;">Av Mosconi N°3012, Quilmes Oeste, Buenos Aires</span></p>
            
              <p>Tel / WhatsApp: 11-4344-3600</p>
            
              <p>Lunes a Viernes: 8-12 y 15-19 HS</p>
            
              <p>Sabados: 8-13 HS</p>
          </div>
      
          <div class="col-lg-4 col-md-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d708.1427251038232!2d-58.2883381924584!3d-34.75627833266338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32c2eededd255%3A0xf5dbac8997b5a5d5!2sAv.%20Gral.%20Mosconi%203012%2C%20Quilmes%20Oeste%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1687387525909!5m2!1ses-419!2sar"
              width="350"
              height="300"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
      </div>

      <!--Container sucursal Ituzaingo-->
      <div class="container py-5">
        <div class="row gx-10 align-items-start">
      
          <div class="col-lg-4 col-md-12">
            <img src="{% static 'img/sucursal_ituzaingo.jpg' %}" class="img-fluid" alt="sucursal ituzaingo">
          </div>
          
          <div class="col-lg-4 col-md-6 text-center">
              <h3 class='mb-5'>SUCURSAL ITUZAINGO</h3>
              
              <p><span style="line-height: 20.8px;">Av. Presidente Peron N°6924 colectora Sur de la Autopista del Oeste, Ituzaingo, Buenos Aires</span></p>
              
              <p>Tel: 4624-0556/ 4624-9856</p>
              
              <p>WhatsApp: 11-4344-3600</p>
            
              <p>Lunes a Viernes: 9-17 HS</p>
            
              <p>Sabados: 9-13 HS</p>
          </div>
      
          <div class="col-lg-4 col-md-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d820.7114187435733!2d-58.661812000000005!3d-34.63334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbf395cbc01b5%3A0x168f2e492464a06!2sFerreteria%20Palermo!5e0!3m2!1ses-419!2sar!4v1687389016021!5m2!1ses-419!2sar"
              width="350"
              height="300"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
      </div>

    </section>


</section>

{% endblock contenido %}