{% extends 'Portal/base.html' %}
{% block titulo %}Ferreteria Maxi | Contacto{% endblock titulo %}
{% block contenido %}

<div class="contenedorContacto form-container my-5" >

    <form class='col-6 text-center needs-validation' id='formulario_contacto' name='formulario_contacto' action='{% url 'inicio' %}' method='POST' novalidate>

      {% csrf_token %}
      {{ formulario_contacto }}

      <button class="btn btn-primary m-4" type="submit">Enviar Consulta</button>
    
    </form>

</div>

{% endblock contenido %}


{% block javascript %}
  
{% endblock %}
