{% extends 'Portal/base.html' %}

{% block titulo %}Ferreteria Maxi | Inicio{% endblock titulo %}

{% block contenido %}

<section 
  {% load static%}
  class='img-fluid' 
  style='
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .10) 15%, rgba(0, 0, 0, 0.10) 25%), url({% static 'img/fondo.jpg' %});
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 1px 2px 3px black;
    color: white;
  '>
  
  <div class='hero_text loginContainer'>
    <h1 class='text-center pt-5'>Bienvenidos</h1>  
    <h1 class='text-center'>a</h1>
    <h1 class='text-center pb-5'>Ferreteria MAXI</h1>

    <h2 class='text-center pb-5'>La ferreteria donde podés encontrar el cosito que va en el coso</h2>
    <a  href="lineas" class="btn btn-dark">Nuestros Productos</a>
    <a  href="servicios" class="btn btn-dark">Nuestros Servicios</a>  
  </div>

</section>

{% endblock contenido %}