{% extends 'Portal/base.html' %}
{% block titulo %}Ferreteria Maxi | Login{% endblock titulo %}
{% block contenido %}


<section
{% load static%}
  class='img-fluid pt-5' 
  style='
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .10) 15%, rgba(0, 0, 0, 0.10) 25%), url({% static 'img/fondo.jpg' %});
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 1px 2px 3px black;
    color: white;
  '>

  
<div class="text-md-center hero_text"> 
    
  {% if messages %}
  <h2 class='text-center my-2'> {{ messages }} </h2>
  {% endif %}
  <h1>Bienvenidos a Ferreteria Maxi</h1>
  
  <div class="contenedorContacto form-container" >
  
      <form class='col-5 text-center' id='formulario_login' name='formulario_login' action='{% url 'loginView' %}' method='POST'>
      
        {% csrf_token %}
        {{ formulario_login }}
  
        <button class="btn btn-primary m-4" type="submit">Ingresar</button>
      
      </form>
  
  </div>

</div>
</section>


{% endblock contenido %}