{% extends 'Portal/base.html' %}
{% block titulo %}Maxi Ferreteria | Lineas {% endblock titulo %}
{% block contenido %}


<section class=''>
  
  <div class='d-flex justify-content-center mt-2'>
    <h1>Seleccione una linea</h1>
  </div>

  <div class='cards_conteiner my-5'>
    {% for linea in lineas %}
    <div class="card_grid">
      {% load static %}
      <div class="card_image img">
        <img id="{{linea.0}}"src='{% static linea.0 %}.jpg' alt="Card image cap">
      </div>
      <div class="card_btn">
        <a href='seleccion/{{linea.0}}' class='btn_hover bn18 text-dark text-decoration-none d-flex align-items-center justify-content-center'>{{linea.0}}</a>
      </div>
    </div>
    {%endfor%}
  </div>
</section>


{% endblock contenido  %}