{% extends 'Portal/base.html' %}
{% block titulo %}Maxi Ferreteria | Rubros {% endblock titulo %}
{% block contenido %}

<section>

    
    <div class="d-flex justify-content-center">
         <h1>Seleccione un Rubro</h1>
    </div>
  <div class='cards_conteiner my-5  w-100'>
        {% for key , value  in diccionarios.items %}
        <div class="card_grid mw-100 ">
          {% load static %}
          <div class="card_image img mw-100 ">
            <img id="{{value}}"src='/static/img/{{value}}.jpg' alt="Card image cap" class='w-100'>
          </div>
          <div class="card_btn ">
            <a href='../gondola/{{key}}' class='btn_hover bn18 text-dark text-decoration-none d-flex align-items-center justify-content-center btn-block '>{{key}}</a>
          </div>
        </div>
        {%endfor%}
  </div>
</section>

  


{% endblock contenido  %}