{% extends 'Portal/base.html' %}  
{% block titulo %}Sobre nosotros{% endblock titulo %}
{% block about %}

<section class="row seccion1-articulo1 text-center my-3">
  <article id="seccion2-articulo2">
    <h3 class=''>Sobre Mi</h3>
    <p>Soy Maximiliano, un amante de la ferretería desde niño. Llevo relacionado con el mundo de la ferretería desde que tengo uso de razón. Estando en el colegio ya vendía a mis compañeros las seguetas para hacer las manualidades de madera que nos mandaban los profesores.</p>
        
      
    <p>En la secundaria trabajaba los fines de semana y siempre que podía ayudar a mis padres en la tienda, lo hacía encantado. </p>
      
    <p>En 2012, además de nuestra tienda física Ferretería Maxi, abrimos nuestra tienda online Ferreteria Maxi en la cual distribuimos nuestros artículos a toda Argentina.</p>
      
        
      
    <p>Mientras estudiaba la Diplomatura de Ciencias Empresariales en la Universidad, trabajaba en la ferretería y eso hizo que me pasión por este mundo aumentase de tal manera que, finalizando la carrera, me incorporé al equipo hasta el día de hoy.</p>
      
    <p>En 2018 empezamos con un canal de youtube Tu ferretero de confianza, donde todas las semanas os enseñamos novedades y consejos relacionados con el mundo de la ferretería.</p> 
  </article>  



  <article class="d-flex justify-content-center mt-5">
    <h3 class='me-2'>UBICAME</h3>
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11690.88960565646!2d-71.3344633446699!3d-42.89980331314712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961dac46d10a37bd%3A0x1b18ddb8716ba214!2sLa%20Trochita.%20-%20Viejo%20Expreso%20Patag%C3%B3nico.!5e0!3m2!1ses-419!2sar!4v1664983386756!5m2!1ses-419!2sar" 
      height="300"
      width='800'
      style="border:0;" 
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </article>   
</section>

{% endblock about %}