<header>
  <nav class="navbar navbar-expand-lg" style='background-color: #f8e89f;'>
    <div class="container-fluid">

      <a class="navbar-brand mr-4 logo fs-3" href="/">Ferreteria Maxi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="d-flex" role='search'>
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="buscar">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
      </form>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <a class="navbar-brand mx-3" href="#">
            <i class="bi bi-cart-fill" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnModalBoot"></i>
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="/about"> Sobre Nosotros </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contacto"> Contacto <span class="sr-only"></span></a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Panel Administrador
            </a>
            <form class="dropdown-menu dropdown-menu-end px-4 py-3">
              <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="ejemplo@email.com">
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña">
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="dropdownCheck">
                  <label class="form-check-label" for="dropdownCheck">
                    Recordarme
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Ingresar</button>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">¿Olvidó la contraseña?</a>
            </form>
          </li>
        </ul>       
      </div>
      
    </div>
  </nav>

</header>