{% extends 'Portal/base.html' %}

{% block titulo %}Ferreteria Maxi | Inicio{% endblock titulo %}

{% block cartelPrincipal %}

<section 
  {% load static%}
  class='img-fluid' 
  style='
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .10) 15%, rgba(0, 0, 0, 0.10) 25%), url({% static 'img/fondo.jpg' %});
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 1px 2px 3px black;
    color: white;
  '>
  <h1 class='text-center py-5'>Bienvenidos</h1>
  
  <div class='d-flex justify-content-center'>
    <a  href="lineas" class="btn btn-dark">Linea de Productos</a>
  </div>

</section>

{% endblock cartelPrincipal %}