{% extends 'Portal/base.html' %}
{% block titulo %}Maxi Ferreteria | Rubros {% endblock titulo %}
{% block contacto %}

    
<div class="d-flex justify-content-center">
     <h1>Seleccione un Rubro</h1>
</div>
{% comment %} <a  href="inicio" class="btn btn-danger"  id="volver">Volver</a>  {% endcomment %}
<div class=" d-flex justify-content-around flex-wrap contenedorLineas" >
{% for rubro in rubros %}
    
         
    

<div class="card cardLineas" style="width: 18rem;">
    {% load static %}
    <img id="{{rubro.0}}" class="card-img-top" src='' width="200px" height="200px"  alt="Card image cap">
     
    <div class="text-center">
        <a href="/gondola/{{rubro.0}}" class="btn btn-info btn-xs btn-block" >{{rubro.0}}</a>
    </div>
</div>
 
{% endfor %}
 
</div>


{% endblock contacto  %}