{% extends 'Portal/base.html' %}
{% block titulo %}Maxi Ferreteria | Rubros {% endblock titulo %}
{% block contacto %}

<section>
    
    <div class="d-flex justify-content-center">
         <h1>Seleccione un Rubro</h1>
    </div>
    
    <div class='cards_conteiner my-5'>
        {% for rubro in rubros %}
        <div class="card_grid">
          {% load static %}
          <div class="card_image img">
            <img id="{{rubro.0}}"src='https://dummyimage.com/263' alt="Card image cap">
          </div>
          <div class="card_btn">
            <a href='seleccion/{{rubro.0}}' class='btn_hover bn18 text-dark text-decoration-none d-flex align-items-center justify-content-center'>{{rubro.0}}</a>
          </div>
        </div>
        {%endfor%}
      </div>
    </section>

</section>


{% endblock contacto  %}