{% extends 'Portal/base.html' %}
{% block titulo %}Maxi Ferreteria | Lineas {% endblock titulo %}
{% block contacto %}

    
<div class="d-flex justify-content-center">
     <h1>Seleccione una linea</h1>
</div>
{% comment %} <a  href="inicio" class="btn btn-danger"  id="volver">Volver</a>  {% endcomment %}
<div class=" d-flex justify-content-around flex-wrap contenedorLineas" >
    {% for linea in lineas %}
    <div class="card cardLineas" style="width: 18rem;">
        {% load static %}
        <img id="{{linea.0}}" class="card-img-top" src='{% static linea.0 %}.jpg' width="200px" height="200px"  alt="Card image cap">
        <div class="text-center">
            <a href="seleccion/{{linea.0}}" class="btn btn-info btn-xs btn-block" >{{linea.0}}</a>
        </div>
    </div>
 
{% endfor %}
 
</div>


{% endblock contacto  %}