{% extends 'Administrador/AdministradorBase.html' %}
{% block titulo %}Ferreteria Maxi | Añadir producto{% endblock titulo %}
{% block contenido %}

<h1 class="AdministradorCreateTitle">Añadir producto</h1>
 <div   class="text-center">
<form action='' method='POST'  >
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit " class="btn btn-primary m-4" >Añadir</button>
     
</form>
<a  href='javascript:window.history.back();' ><button class="btn btn-danger m-4"   >Cancelar</button></a>
 </div>
{% endblock contenido %}