{% extends 'principal/base.html' %}
{% block titulo %}Formulario de Contacto{% endblock titulo %}
{% block contacto %}

<div class="contenedorContacto my-5" >

    <form class="col-6 text-center">
        <div class="form-group col-12 my-2">
          <label for="nombreContacto" class="text-center text-body">Nombre:</label>
          <input type="email" class="form-control text-center my-2" id="nombreContacto" placeholder="Escriba su nombre aqui" required>
        </div>
        <div class="form-group col-12 my-2">
            <label for="emailContacto" class="text-center text-body">Email:</label>
            <input type="email" class="form-control text-center my-2" id="emailContacto" placeholder="name@example.com" required>
        </div>
          <div class="form-group col-12 text-center my-2">
            <label for="telefonoContacto" class="text-center text-body">Telefono:</label>
            <input type="email" class="form-control text-center my-2" id="telefonoContacto" placeholder="Ejemplo 011 5555 5555" required>
        </div>
       
        <div class="form-group col-12 text-center my-2">
          <label for="mensajeContacto" class='text-body'>Mensaje:</label>
          <textarea class="form-control my-2" id="mensajeContacto" rows="3" placeholder='Deje su comentario acá' required></textarea>
          <button class="btn btn-primary m-4" type="submit">Enviar Consulta</button>
        </div>
      </form>
</div>

{% endblock contacto %}
