{% extends 'Principal/base.html' %}
{% block titulo %}Bienvenidos a Maxi-Ferreteria{% endblock titulo %}
{% block cartelPrincipal %}
{% load static %}
<div style="background-image:url({% static 'fondo.jpg' %});width: 100%;align-items:flex-end; height:700px;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;display:flex;">

   <h1 style="margin-bottom:20vh;padding-left:5vh">Bienvenidos </h1> <button  class="btn btn-primary" style="margin-bottom:20vh;margin-left:50vh">Ingresar</button>
</div>
{% endblock cartelPrincipal %}