{% extends 'Principal/base.html' %}
{% block titulo %}Maxi Ferreteria | Lineas {% endblock titulo %}
{% block contacto %}

    
<div class="d-flex justify-content-center">
     <h1>Seleccione una linea</h1>
</div>
{% comment %} <a  href="inicio" class="btn btn-danger"  id="volver">Volver</a>  {% endcomment %}
<div class=" d-flex justify-content-around flex-wrap contenedorLineas" >
{% for linea in lineas %}
    {% for word in linea  %}
         
    

<div class="card cardLineas" style="width: 18rem;">
    {% load static %}
    <img id="{{word}}" class="card-img-top" src='{% static word %}.jpg' width="200px" height="200px"  alt="Card image cap">
<form method="POST" action="/seleccion" enctype="multipart/form-data">
    <div class="form-group text-center">
     <input class="btn btn-info btn-xs btn-block"  type="submit" formenctype="multipart/form-data"  formmethod="post" id="{{word}}" value="{{word}}" name="Name">
    </div>
</form>
</div>
 
{% endfor %}
{% endfor %}
</div>


{% endblock contacto  %}