@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

header{
  background-color: #f8e89f;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #e2ce75;
  color: #000;
}



.logo {
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
}

.custom_row{
  max-width: 1100px;
  margin: 0 auto;
}

.contenedorContacto {
  display: flex;
  justify-content: center;
}

/* Estilos del scroll */

/*? scroll */

html::-webkit-scrollbar {
  width: 0.5rem; /*? tamaño del scroll en vertical */
  height: 1rem; /*? tamaño del scroll en horizontal */
}

html::-webkit-scrollbar-thumb {
  background: #bdb075;
  border-radius: 4px;
}


html::-webkit-scrollbar-thumb:hover { /*? sombredo cuando se pase el cursor por encima */
  background: #e2ce75;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


html::-webkit-scrollbar-thumb:active { /*? cambio de color cuando esta activo */
  background-color: #333;
}

html::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
}

/* card styles  */

.cards_conteiner {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  max-width: 1100px;
  margin: 0 auto 0;
}

.card_grid {
  display: grid;
  grid-template-rows: 20rem 3rem;
  grid-template-areas: "image" "text" "boton";
  border-radius: .4rem;
  background-color: #fff;
  transition: 0.5s ease;
  overflow: hidden;
  border-radius: 0;
  justify-content: start;
}

.card_grid_home {
  grid-template-rows: 20rem 6rem;
}

.card_grid div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_image {
  grid-area: image;
  background-size: cover;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.card_text {
  text-align: center;
  grid-area: text;
  font-family: "Maven Pro", sans-serif;
  padding: 0 10px;
}

.card_btn {
  justify-content: start;
  grid-area: boton;
}

.btn_hover {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color:#e2ce75;
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}

.hero_text{
  position: absolute;
  top: 45%;
  left: 50%;
  padding: 25px 20px;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}

.hero_text h1{
  text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #e2ce75;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: .3rem;
  font-size: 4rem;
}

.hero_text h2{
  text-shadow: 1px 1px 2px #000, 0 0 1em #b7b198, 0 0 0.2em #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.3rem;
}

.loginContainer{
  background-color: rgba(107, 109, 110, 0.7);
  border-radius: .8rem;
  width: 40%;
  box-shadow: 11px 26px 60px 3px rgba(0,0,0,0.65);
}
.item-image{
  position: absolute;
   /* top: 0;
   left: 0; */
  z-index: 1;
  
  overflow:hidden ;
  /* max-height: 120px; */
  width: 100px;
}

.lupa{
  position: absolute;
  /* top: 0;
  right: 0; */
  z-index: 99;
  width:100px;
}

.contenedorDeImagenes{
  height: 100px;
  width: 100%;
}

/* card home styles */

.card_service{
  background-color: white;
  border-radius: 5px;
  border: 0;
  color: white;
  flex: 25%;
  height: 400px;
  margin: 0 10px;
  overflow: hidden;
  width: 250px;
}

/* card home styles */

.card_service{
  background-color: white;
  border-radius: 5px;
  border: 0;
  color: white;
  flex: 25%;
  height: 400px;
  margin: 0 10px;
  overflow: hidden;
  width: 250px;
}
.card_ico {
  background-position: center;
  background-size: cover;
  height: 50%;
}

.card_text {
  text-align: center;
  grid-area: text;
  font-family: "Maven Pro", sans-serif;
  padding: 0 10px;
}

.inner_text {
  background: white;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  padding: 0 .5rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.inner_text p {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 55px;
}