{% include 'empleados/z_cabecera.html' %}

<div class="container">
    <div class="item">
        <h5>ALTA REGISTRO DE EMPLEADOS</h5><br><br>
    </div>
</div>
<br><hr>

<div class="container">
    <div class="item">
        <form method="post" action="/store" enctype="multipart/form-data">
            <br>
            Ingrese Nombre->
            <input type="text" name="txtNombre" id="txtNombre"> <br><br>

            Ingrese Correo-->
            <input type="text" name="txtCorreo" id="txtCorreo"><br><br>

            Ingrese Foto---->
            <input type="file" name="txtFoto" id="txtFoto"><br><br>

            Confirme Alta-->
            <input type="submit" value="Agregar">
            <br><br>
        </form>
    </div>
</div>

{% include 'empleados/z_pie.html' %}
