{% include 'empleados/z_cabecera.html' %}
<div class="container">
    <div class="item">
        <h3>PAGINA DE PRESENTACION / AUTORIZACION DE INGRESO</h3><br><br>
    </div>
</div>
<br>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>ACERCA DEL CRUD - Sistema de Registro de Empleados -</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Trabajo Integrador Final</td>
        </tr>
        <tr>
            <td>Comision: 22508 Alumno: Juan Carlos Dominguez</td>
        </tr>
        <tr>
            <td>Curso: Full Stack Python 2do. Cuatrimestre 2022 - Docente: Ariel Palazzesi</td>
        </tr>
        <tr>
            <td>Programa Codo a Codo 4.0 – Agencia de Aprendizaje a lo Largo de la Vida  – Ministerio de Educación – GCBA</td>
        </tr>

    </tbody>
</table>

{% include 'empleados/z_pie.html' %}
